## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>

<div class="container" id="content" role="main">

<div class="page-header">
	<img class="logo-header" src=" /images/logo.png">
	<h1>Reproducible Science <small>Promoting Open Science</small></h1>

<!-- Menubar -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
        <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${abs_link(_link("root", None, lang))}">
            %if logo_url:
                <img src="${logo_url}" alt="${blog_title|h}" id="logo">
            %endif

            % if show_blog_title:
                <span id="blog-title" style="padding: 19px 0px;">${blog_title|h}</span>
            % endif
            </a>
        </div><!-- /.navbar-header -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                ${base.html_navigation_links()}
                ${template_hooks['menu']()}
            </ul>
            %if search_form:
                ${search_form}
            %endif

            <ul class="nav navbar-nav navbar-right">
		<!--dropdown-->
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reproducibility Initiatives<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="https://reproduciblescience.org/nyu/">Reproducibility @ NYU</a></li>
			 <li><a href="http://escience.washington.edu/about-us/working-groups/reproducibility-and-open-science/">Reproducibility @ UW</a></li>
			<li><a href="http://bids.berkeley.edu/working-groups/reproducibility-and-open-science">Reproducibility @ BIDS</a></li>
		</ul>
		</li>
		<!--end dropdown-->
		<%block name="belowtitle">
                %if len(translations) > 1:
                    <li>${base.html_translations()}</li>
                %endif
                </%block>
                % if show_sourcelink:
                    <%block name="sourcelink"></%block>
                %endif
                ${template_hooks['menu_alt']()}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
</div>

<!-- End of Menubar -->

    <div class="body-content">
        <!--Body content-->
        <div class="row">
            ${template_hooks['page_header']()}
            <%block name="content"></%block>
        </div>
        <!--End of body content-->

        <footer id="footer">
            ${content_footer}
            ${template_hooks['page_footer']()}
        </footer>
    </div>
</div>

${base.late_load_js()}
    <script>$('a.image-reference:not(.islink) img:not(.islink)').parent().colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <!-- fancy dates -->
    <script>
    moment.locale("${momentjs_locales[lang]}");
    fancydates(${date_fanciness}, ${js_date_format});
    </script>
    <!-- end fancy dates -->
    <%block name="extra_js"></%block>
    % if annotations and post and not post.meta('noannotations'):
        ${notes.code()}
    % elif not annotations and post and post.meta('annotations'):
        ${notes.code()}
    % endif
${body_end}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86255717-1', 'auto');
  ga('send', 'pageview');
</script>
${template_hooks['body_end']()}
</body>
</html>
