## -*- coding: utf-8 -*-
<%namespace name="math" file="math_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="pagination" file="pagination_helper.tmpl"/>
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*"/>
<%inherit file="base.tmpl"/>

<%block name="content">

<%block name="content_header">
    <header>
        <h1>${title|h}</h1>
        %if description:
        <p>${description}</p>
        %endif
        %if subcategories:
        ${messages('Subcategories:')}
        <ul>
            %for name, link in subcategories:
            <li><a href="${link}">${name|h}</a></li>
            %endfor
        </ul>
        %endif
        <div class="metadata">
            ${feeds_translations.feed_link(tag, kind)}
            ${feeds_translations.translation_link(kind)}
        </div>
    </header>
</%block>

% for post in posts:
    <article class="h-entry post-${post.meta('type')}" itemscope="itemscope" itemtype="http://schema.org/Article">
    <header>
        <h1 class="p-name entry-title"><a href="${post.meta('link')}" class="u-url">${post.title()|h}</a></h1>
        <div class="metadata">
            <p class="dateline"><time class="published dt-published" datetime="${post.formatted_date('webiso')}" title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}</time></p>  
						<p><a href="mailto:?subject=I saw this and thought of you!&body=${post.title()}; ${post.meta('link')}" onclick="ga('send', 'social', 'email', 'share', ${post.meta('link')}); return true;">Email this article</a></p>
						<p><a href="https://twitter.com/share?url=${post.permalink()});text=${post.title()}, ${post.meta('link')}" onclick="ga('send', 'social', 'Twitter', 'tweet', ${post.permalink()}); return true;" target="_blank">Tweet this article</a></p> 
						     % if not post.meta('nocomments') and site_has_comments:
						          <p class="commentline">${comments.comment_link(post.permalink(), post._base_path)}
						      % endif
        </div>
    </header>
    %if index_teasers:
    <div class="p-summary entry-summary">
    ${post.text(teaser_only=True)}
    %else:
    <div class="e-content entry-content">
    ${post.text(teaser_only=False)}
    %endif
    </div>
    </article>
% endfor

% if page_links:
    ${pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed)}
% endif

${comments.comment_link_script()}
${math.math_scripts_ifposts(posts)}
</%block>
